@model Car

<div class="col-lg-4">
    <! --the block occupies 4 columns -->
    <img class=" img-thumbnail" src="@Model.img" alt="@Model.name" />
    <! --Model: car.name -->
    <h2>@Model.name</h2>
    <p>@Model.shortDesc</p>
    <p>Cost: @Model.price.ToString("c")</p>
    <p><a class="btn btn-warning" asp-controller="ShopCart" asp-action="addToCart" asp-route-id="@Model.id">Add to Cart</a></p>
</div>